header{
    height: 51px;
    margin-bottom: 5px;
}
.no-padding-right{padding-right: 0;}

.no-padding-left{
    padding-left: 0px !important;
}

.row-top-space {
    margin-top: 15px;
}
.row-top-small-space {
    margin-top: 10px;
}
.row-bottom-space {
    margin-bottom: 15px;
}
.row-middle-space {
    margin-top: 15px;
    margin-bottom: 15px;
}
.btn-common-right-space {
    margin-right: 15px;
}
.btn-common-left-space {
    margin-left: 15px;
}
.btn-common-both-side {
    margin-left: 15px;
    margin-right: 15px;
}
.foc-label,
.stop-label,
.label-canceled,
.label-completed,
.label-shipped,
.label-partial,
.label-foc-child,
.label-foc-parent,
.label-draft,
.label-discounted {
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 2px;
    min-width: 95px;
    text-align: center;
}
.stop-label {
    border: 1px solid #ccc;
    background-color: #fbfbda;
}
.foc-label {
    border: 1px solid #ccc;
    background-color: #eeeecf;
}

.label-foc-child {
    background-color: #FFF2CC;
    border: 1px solid #cfd0ce;
}

.label-foc-parent,
.label-discounted {
    cursor: pointer;
    background-color: #F4CCCC;
    border: 1px solid #aba5a5;
}
.label-foc-parent:hover:not([disabled]),
.label-discounted:hover:not([disabled]) {
    background-color: #e0e0e0;
}

.label-canceled {
    cursor: pointer;
    background-color: #FF0000;
    border: 1px solid #8a7070;
    color: white;
}
.label-draft {
    cursor: pointer;
    background-color: #6b6868;
    border: 1px solid #8a7070;
    color: white;
}
.label-draft:hover:not([disabled]) {
    background-color: #868686;
}
.label-canceled:hover:not([disabled]) {
    background-color: #ad1;
}
.label-completed {
    cursor: pointer;
    border: 1px solid #9e7c7c;
    background-color: #B6D7A8;
}
.label-completed:hover:not([disabled]) {
    background-color: #caf3b8;
}
.label-shipped {
    cursor: pointer;
    border: 1px solid #907f7f;
    background-color: #E69138;
    color: white;
}
.label-shipped:hover:not([disabled]) {
    background-color: #7bdd22;
}
.label-partial {
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #e6e6e6;
    width: 75px;
}
.label-partial:hover:not([disabled]) {
    background-color: #f7f7f7;
}
.label-status {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px 0px;
    border-radius: 6px;
    font-size: 16px;
}
.label-status.disabled,
.label-status[disabled] {
    cursor: not-allowed;
    filter: alpha(opacity=35);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .35;
}
.status-warning-icon {
    color: red;
    background-color: white;
    font-size: 25px;
    border-radius: 100px;
}
.partial {
    position: relative;
    display: inline-block;
}
.label-exclaim {
    width: 35px;
    text-align: center;
}
#modalChangeStatus .modal-body {
    min-height: 0px !important;
    height: 250px !important;
}
.confirm-yes {
    margin-right: 15px;
}
.confirm-no {
    margin-right: 15px;
}
.popover-markup {
    display: inline;
}
.popover {
    width:auto!important;
    max-width: none
}
.popover-content {
    transform: none;
    top: 0;
    left: 0;
}
.popover.left {
    height: auto;
}
.hide {
    display: none;
}
.btn-gap {
    margin-right: 15px;
}
#modalAdditionalSettings .modal-body {
    height: auto;
    min-height: 207px;
}
.btn-view-discount {
    margin-top: 25px;
}
.row-highlight {
    color: red;
}
.btn-zoom{
    margin-top: -10px;
}
.custom-table>tbody>tr>td,
.custom-table>tbody>tr>th,
.custom-table>tfoot>tr>td,
.custom-table>tfoot>tr>th,
.custom-table>thead>tr>td,
.custom-table>thead>tr>th {
    padding: 0 !important;
    text-align: center;
}
.custom-table>tbody>tr>td.text-left{
    padding: 0 !important;
    text-align: left;
}
.custom-table>thead>tr>th:first-child {
    width: 175px;
}
.f-border-row {
    width: 350px;
    border-top: 1px solid #ddd;
}
.f-border-row .border-row-item{width: 50%}
.border-row {
    width: 200px;
    border-top: 1px solid #ddd;
}
.border-row-item {
    text-align: center;
    float: left;
    padding: 5px 0;
    border-right: 1px solid #ddd;
}
.border-row-item:last-child {
    border-right: none;
}
p.p-text {
    text-align: center;
    padding-top: 8px;
}
p.p-day {
    margin-top: 38px;
    position: relative;
    top: -15px;
}
.border-row,
.row-value {
    width: 125px;
}
.border-row .border-row-item:first-child,
.row-value .value-item:first-child{
    width: 30%;
}
.border-row .border-row-item:last-child,
.row-value .value-item:last-child{
    width: 70%;
}
.rows-items {
    width: 50%;
    text-align: center;
    float: left;
    padding: 5px;
}
.value-item {
    width: 50%;
    text-align: center;
    float: left;
    padding: 15px 0;
}
.value-item:first-child {
    border-right: 1px solid #ddd;
}
.left-item {
    border-right: 1px solid #ddd;
}
.row-item-top {
    text-align: left;
    padding-left: 5px;
    display: table;
    clear: both;
    width: 100%;
}
.row-item-bottom {
    text-align: right;
    padding-right: 5px;
    display: table;
    clear: both;
    width: 100%;
}
.table-fixed-row-column {
    max-height: 600px;
}
/* Login menu */
.login-menu {
    list-style: none;
    padding: 0;
}
.login-menu li {
    position: relative;
    padding: 10px;
}
.btn-index {
    z-index: 1;
}
hr.btn-btw-break {
    position: relative;
    top: -48px;
    border: 3px dotted #ddd;
    z-index: 0;
    margin-left: 50px;
    margin-right: 50px;
}
hr.btn-btw-dot {
    top: -44px;
}
hr.btn-btw-full {
    border: 3px solid #337ab7;
    top: -44px;
}
.btn-step-notify {
    height: 45px;
}
hr.btn-btw-line {
    position: relative;
    top: -48px;
    border: 3px solid #337ab7;
    z-index: 0;
    margin-left: 50px;
    margin-right: 50px;
}
.btn-blocked {
    width: 190px;
}
.form-h-scroll {
    height: 370px;
    overflow-y: scroll;
}
.hide-loading {
    display: none;
}
.popup-discount {
    cursor: pointer;
}
.hidden-item {
    display: none;
}
.td-draft {
    padding-left: 83px !important;
}
.custom-pagination,
.page-info {
    position: relative;
    display: inline;
}
.page-info {
    top: 7px;
}
.custom-pagination {
    margin-top: 0;
}
.hr-invoiced {
    width: 100%;
    border: 3px solid #807d7d;
    margin-top: 0px;
    margin-bottom: 15px;
}
.invoice-form-row {
    margin-top: 7px;
}
.invoice-form-label {
    margin-top: 7px;
}
.seller-info {
    border: 1px solid #807d7d;
    padding: 15px;
}
.row-invoice-incharge {
    position: relative;
    top: -92px;
    z-index: -1;
}
.table-text-center {
    text-align: center;
}
.table-text-right {
    text-align: right;
}
td.invoice-blank-column {
    border-bottom: 1px solid transparent !important;
    border-right: 1px solid transparent !important;
    background-color: #fff;
}
.company-invoice-signature {
    text-align: center;
    border: 1px solid #bbb;
    background-color: #f9f9f9;
    padding: 6px 3px;
}
hr.signature-line {
    margin-top: 0;
    border: 3px solid #807d7d;
}
.modal-invoice {
    cursor: pointer;
}
.ui-datepicker { position: relative; z-index: 10000 !important; }
.arrow-draft {
    font-size: 20px;
    position: absolute;
    transform: translateX(50%) translateY(25%);
}
.signature-line-view {
    margin-top: -56px;
    border: 3px solid #807d7d;
}
.signature-line-approving {
    margin-top: -5px;
    border: 3px solid #807d7d;
}
.payment {
    position: relative;
    top: -115px;
}
.file-uploaded {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 33px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #EEE;
    border-radius: 5px;
    cursor: pointer;
}
.file-uploaded:hover {
    background-color: #DDD;
}
.media-file-type {
    padding-right: 10px;
}
.icon-remove-file {
    color: #6b6b6b;
}
.icon-remove-file:hover {
    color: brown;
    cursor: pointer;
}
/** Jquery ui Autocomplete **/
* html .ui-autocomplete {
    height: 100px;
  }
.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-autocomplete-loading {
    background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}

form[name="common_form"] .form-group .control-label,
form[name="personInCharge_form"] .form-group .control-label,
.form-wrap .control-label {
    text-align: left;
}

form[name="manufacturer_form"] .textarea-wrap,
form[name="personInCharge_form"] .textarea-wrap {
    padding: 0px 10px;
}

form[name="manufacturer_form"] .form_btn_wrap,
form[name="personInCharge_form"] .form_btn_wrap{
    display: inline-block;
    text-align: center;
}

form[name="manufacturer_form"] .form_btn_wrap>a,
form[name="manufacturer_form"] .form_btn_wrap>.submit,
form[name="personInCharge_form"] .form_btn_wrap>a,
form[name="personInCharge_form"] .form_btn_wrap>.submit{
    float: left;
}

form[name="manufacturer_form"] .form_btn_wrap>.submit,
form[name="personInCharge_form"] .form_btn_wrap>.submit{
    margin-left: 15px;
}

.form_btn {
    width: 80px;
}

.form-btn-add {
    width: 34px;
    height: 34px;
}

.modal#modal_suspend .modal-footer>button,
.modal#modal_delete .modal-footer>button {
    min-width: 70px;
}

#tb-detail>tbody>tr td {
    vertical-align: top;
    word-break: break-word;
}

#tb-detail textarea {
    height: 123px;
    resize: none;
    overflow: auto;
    width: 100%;
    border: none;
    background: #f9f9f9;
}

#tb-detail textarea:focus {
    outline: none;
}

#modal_detail p {
    margin-bottom: 0px;
}

#modal_detail .modal-footer button[data-dismiss="modal"] {
    display: table;
    margin: auto;
}

#modal_detail .md-footer-btn {
    width: 100px;
}

#modal_detail .modal-footer {
    padding: 15px 0;
}

#modal_detail .modal-body {
    padding-top: 30px;
}

#tb-detail>tbody>tr td:first-child {
    width: 136px;
}

#tb-detail>tbody>tr td:last-child {
    width: 200px;
}

.tb-personInCharge>tbody>tr>td:first-child {
    width: 80px !important;
    display: table-cell !important;
}

.tb-personInCharge>tbody>tr>td:last-child {

}

/*Icon sort on table header*/
.table>thead>tr>th>a>span {
    padding-left: 3px;
    display: inline-flex;
}

.table>thead>tr>th>a {
    text-decoration: none;
}

.table>thead>tr>th>span {
    vertical-align: top;
    display: inline-flex;
}

/*format on button*/
.btn-width {
    min-width: 70px;
}
.btn-double-width {
    width: 150px;
}

.table>tbody>tr .td-btn-wrap {
    text-align: right;
    width: 85px;
}

.btn-close-modal {
    background-color: #777;
    color: #fff;
}

.btn-close-modal:hover {
    transition: all 0.3s ease-in;
}

.btn-delete {
    background-color: #d9534f;
    border-color: #d43f3a;
    color: #fff;
}

.btn-delete:hover {
    color: #fff !important;
}

.btn-recover:hover,
.btn-suspend:hover {
    color: #fff !important;
    background-color: #ec971f;
    border-color: #d58512;
}

.btn-recover {
    background: #eeac57;
    color: #fff;
}

.btn-suspend {
    background: #ec971f;
    color: #fff;
}

/*select to display pagination*/
select.display_data {
    height: 30px;
    padding: 5px 10px;
    font-size: 12px;
    width: 200px;
}

/*dropdown submenu to the right*/
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
    width: fit-content;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/*person_in_charges select*/
#select_type {
    text-transform: capitalize;
}

#keyword {
    width: 200px;
}

/*upload file*/
.select_img {
    margin-bottom: 0;
    border-radius: 7px;
    overflow: hidden;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.select_img .cover, #center_word {
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    border: 2px dotted;
}

.select_img .cover div {
    display: table-cell;
    vertical-align: middle;
}

.select_img .cover h3 {
    margin: 0;
}

.select_img .cover p {
    margin: 0;
}

.select_img .cover:hover {
    cursor: pointer;
}

.profile-pic {
    position: relative;
    display: inline-block;
    border-radius: 7px;
    border: 1px solid #b9b9b9;
    overflow: hidden;
    padding: 3px;
    margin-right: 10px;
}

.show_img {
    width: 100px;
    height: 100px;
    background: #f6f6f6;
    margin: 0;
    border-spacing: 0;
    margin-right: 4px;
}

#center_word img {
    width: 100%;
    height: 100%;
}

.image_hover .edit {
    position: absolute;
    right: 5px;
    top: 2px;
    display: none;
}

.add-image {
    width: 100%;
    height: 100%;
    border: 1px solid #b9b9b9;
    overflow: hidden;
}

.image_hover:hover .edit {
    cursor: pointer;
    display: block;
}

.image_hover:hover {
    cursor: pointer;
}

.image_hover input[type="file"] {
    display: none;
}

.select_img #img-preview {
    object-fit: contain;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.select_img canvas {
    width: 90px;
    height: 90px;
    vertical-align: middle;
}

.select_img .img-tick,
.dropzone-wrap .dz-image .img-tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: #12ca3b;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.select_img .img-tick > span,
.dropzone-wrap .dz-image .img-tick > span {
    transform: inherit;
    font-size: 1em;
    color: #fff;
    top: inherit;
    left: inherit;
    position: inherit;
}

/*Modal body*/
#modal_detail .modal-body {
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

.fieldset-border {
    border: 1px groove rgba(255, 255, 255, 0.36) !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    max-height: 300px;
}

.fieldset-border .fieldset-content-wrap {
    overflow: auto;
    height: 200px;
}

.fieldset-border legend {
    font-size: 1em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}

.fieldset-border .select_img {
    margin: 0;
    position: relative;
}

.fieldset-border .media-list-wrap {
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

.fieldset-border .select_img a > img {
    object-fit: contain;
    height: 100%;
}

.fieldset-border .select_img a {
    clear: both;
}

.fieldset-border .alert {
    padding: 10px 15px;
}

.tb-prbr-view>tbody>tr td:first-child{
    width: unset !important;
}

/*Sorting Image*/
#sorting-img-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
}

#sorting-img-wrap > li {
    display: inline-block;
    position: relative;
}

#sorting-img-wrap .dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

/*View profile*/
.profile-img img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-img {
    border: 1px solid #dadada;
    border-radius: 8px;
    padding: 4px;
    width: 200px;
    height: 200px;
}

/*file dropzone*/
.dropzone-wrap .dz-image,
.dropzone-profile .dz-image {
    display: block !important;
    border: 1px solid #d9d9d9;
    border-radius: 8px !important;
}

.dropzone-profile span {
    top: 0 !important;
    right: 5% !important;
}

.dropzone-wrap .dz-image>img,
.dropzone-profile .dz-image>img {
    width: 120px;
    height: 120px;
}

.dropzone-wrap .dz-filename,
.dropzone-profile .dz-filename {
    display: none !important;
}

.dropzone-wrap .dz-image .dz-details,
.dropzone-profile .dz-image .dz-details {
    display: none;
}

.dropzone-wrap .dz-preview:hover .dz-image img,
.dropzone-profile .dz-preview:hover .dz-image img {
    cursor: pointer;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
    -webkit-filter: none;
    filter: none;
}

.dropzone-wrap,
.dropzone-wrap .dz-drag-hover,
.dropzone-profile,
.dropzone-profile .dz-drag-hover {
    padding: 6px 12px;
}

.dropzone-wrap,
.dropzone-profile {
    position: relative;
}

.dropzone-wrap .dz-image-preview,
.dropzone-wrap .dz-file-preview {
    padding: 10px;
}

.dropzone-wrap canvas {
    width: 120px;
    height: 120px;
    vertical-align: middle;
}

.dropzone-profile .dz-image-preview {
    position: absolute;
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
}

.doctor-profile-view {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50px;
}

.dropzone-wrap {
    overflow: auto;
    max-height: 400px;
    padding-bottom: 100px;
}

.dropzone-wrap .dz-remove span,
.dropzone-profile .dz-remove span {
    position: absolute;
    top: 8%;
    right: 10%;
    z-index: 99;
    font-size: 20px;
    color: #ce4844;
}

.dropzone-wrap .dz-remove span > i:hover,
.dropzone-profile .dz-remove span > i:hover {
    cursor: pointer;
}

.intl-tel-input,
.twitter-typeahead {
    display: inherit !important;
}

/*Admin navbar*/
.navbar-admin .admin_logo {
    width: 50px;
}

.navbar-admin .navbar-brand {
    height: initial;
    padding: 3px 10px;
}

.navbar-admin .navbar-right {
    position: absolute;
    right: 15px;
    bottom: 0;
}

body {
    margin-top: 17px;
    position: relative;
}

.navbar-admin .navbar-header p {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
    line-height: 49px;
}

.navbar-admin .navbar-header {
    float: none;
}

/*footer*/
#footer-wrap footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 15px;
}

#footer-wrap footer ul li {
    display: inline-block;
    padding: 0 5px;
}

#footer-wrap {
    text-align: center;
}

#footer-wrap footer {
    display: inline-flex;
}

/*Privacy content view*/
.main-privacy h1, .main-privacy h2, .main-privacy p, .main-privacy ul {
    margin: 0;
    padding: 0;
}

.main-privacy .privacy-polocy-title {
    font-size: 1.3em;
    text-decoration: underline;
    padding: 10px 0;
}

.main-privacy p {
    line-height: 2em;
}

.main-privacy .polocy-content {
    padding: 8px 0;
}

.polocy-content h2 {
    font-size: 1em;
    font-weight: 700;
    padding-bottom: 10px;
    line-height: 25px;
}

.text-right {
    text-align: right;
}

.table-wrapper {
    padding-top: 20px;
}

.form-wrapper .form-inline .form-control {
    width: 230px;
    margin-right: 12px;
    padding: 0 12px !important;
}

.form-wrapper .form-horizontal .form-control {
    padding: 0 12px !important;
}

.form-wrapper .form-inline label, .form-wrapper .form-inline .error {
    display: block;
    color: #c7254e;
    font-size: 12px;
    border-color: #a94442;
}

.form-wrapper .form-horizontal .error {
    color: #c7254e;
    font-size: 12px;
    border-color: #a94442;
}

.form-wrapper .form-inline label {
    padding-top: 6px;
}

.form-wrapper .form-inline .form-group {
    vertical-align: top;
}

.btn-report-link {
    font-size: 0.85em;
}

/*.btn_tmp_save {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(50%);
    left: 50%;
}*/

.header-date {
    font-size: 14px;
    font-weight: normal;
}

.no-padding {
    padding: 0px;
}

.email-wrap {
    padding-left: 0px;
    margin: 0;
    list-style: none;
}

.email-wrap li {
    line-height: 25px;
}

/** messsage image **/
.image-message ul {
    list-style: none;
}

.image-message ul li {
    width: 140px;
    height: 140px;
    margin-right: 15px;
    border: 1px solid #adc;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

.image-message ul li a {
    display:table-cell;
    height: 140px;
    width: 140px;
    vertical-align: middle;
}

.image-message ul li a .message-thumbnail {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.image-message ul li a:hover {
    text-decoration: none;
}

.commentor {
    font-weight: bold;
    font-size: 16px;
}

.user-reply {
    display: inline;
    position: relative;
}

.image-message.image-items {
    margin-left: -40px;
}

/*User View Mode*/
.user-view-mode tr td:first-child {
    width: 100% !important;
    text-align: right;
}

.user-view-mode tr td:last-child {
    text-align: left;
    width: 50% !important;
}

/*Custom Select2*/
.facility-wrap .form-group .select2-selection,
.custom-select .select2-selection {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.custom-select .select2-container {
  width: 100% !important;
}

.facility-wrap .form-group .select2-selection__rendered {
    line-height: inherit;
    padding: 0;
}

.custom-select .select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: inherit;
}

.data-tb-list .white-space {
    white-space: nowrap;
}

.field-small-padding-left {
    padding-left: 7px !important;
}

.field-small-padding-right {
    padding-right: 7px !important;
}

.custom-table-space {
    margin-bottom: -10px;
    margin-top: -10px;
}

.error-message {
    color: #c7254e;
    font-size: 12px;
    margin: 5px 0;
    font-weight: bold;
}

.btn-inline {
    position: relative;
    display: inline;
    margin-right: 10px;
}

.btn-inline:last-child {
    margin-right: 0;
}

.btn-no-action {
    cursor: default;
    pointer-events: none;
}

.doctor-form .col-sm-7 {
    margin-right: -10px;
}

.fixed-modal-height {
    max-height: calc(100vh - 190px);
    overflow-y: auto;
}

/** custom column width **/

@media (min-width: 1200px) {
    .c-lg {
        width: 27.9%;
        padding-right: 0;
    }
}

.modal-mt {
    margin-top: 15px;
}

.default-p {
    padding: 6px 12px !important;
}

.title-page {
    padding: 0;
    margin: 0
}

.row-border-top {
    border-top: 1px solid #e5e5e5;
    margin-top: 15px;
}

.input-h-30 {
    height: 30px;
}
table.table.table-condensed.table-borderless td {
    border: none;
}

.error-message > ul {
    padding-left: 15px;
}

.error-message > ul li {
    line-height: 20px;
}

.text-red {
    color: #d9534f;
    position: absolute;
    font-size: 20px;
}

.no-p-l {
    padding-left: 0px;
}

.no-p-r {
    padding-right: 0px;
}

.input-sm {
    height: 30px;
}

.btn-full-width {
    width: 100%;
}
.issue-icon {
    padding: 0;
}
.button-issues {
    margin: 0 !important;
    padding: 0 !important;
    text-align: left;
}
.icon-remove-issue {
    font-size: 22px;
    position: relative;
    top: -4px;
    left: 14px;
    color: red;
    cursor: pointer;
}
.r-desc-left, .r-desc-left {
    position: relative;
    display: inline;
}
.r-desc-right {
    float: right;
}
.r-desc-left {
    float: left;
}
.field-no-padding-left {
    padding-left: 0px !important;
}
.field-no-padding-right {
    padding-right: 0px !important;
}

.modal form input {
    padding: 6px 12px !important;
}

.modal form .select2-selection__rendered {
    padding-left: 0px !important;
}

/*Sale Invoice Style*/
.table-po tbody tr:hover {
    cursor: pointer;
}

.clinic-item {
    margin-left: -15px;
    margin-right: 0;
}

.row-clinic {
    margin-top: 15px;
}

.no-margin {
    margin: 0px;
}

.label-pack {
    padding: 3px 5px;
    font-size: 12px;
    border-radius: 2px;
    /*min-width: 60px;*/
    text-align: center;
    color: #fff;
    cursor: pointer;
}

.no-padding-r {
    padding-right: 0px;
}

.no-padding-l {
    padding-left: 0px;
}

.no-margin-l {
    margin-left: 0px;
}

.no-margin-r {
    margin-right: 0px;
}

.modal-body-fix {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
}

.new-row-pdf {
    margin-top: 15px;
}

/* Table PO Footer */
.table-po {
    border-top: 1px solid #ddd !important;
    border: 0px;
}

.table-po .table-po-footer {
    border-left: 0px solid #fff;
    background-color: transparent !important;
}

.table-po .table-po-footer:hover {
    cursor: initial !important;
}

.table-po .table-po-footer td:last-child {
    border: 0px solid #fff;
}

.border-none {
    border: 0px solid #fff !important;
}

.padding-botton-10 {
    padding-bottom: 10px;
}

.text-left {
    text-align: left !important;
}
.purchase-id-section {
    max-height: 105px;
    /*overflow-y: scroll;*/
}
table.purchase-ids td {
    border: none;
    padding-right: 10px;
}

.pid.purchase-id {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 30px;
    background-color: #EEE;
    border-radius: 5px;
}
.icon-remove-id {
    color: #6b6b6b;
}
.ids {
    padding-right: 6px;
}
.icon-remove-id:hover {
    color: brown;
    cursor: pointer;
}

.payment-list {
    list-style: none;
}

.payment-list li {
    display: inline-block;
    margin-bottom: 5px;
}

.payment-list li > span {
    font-size: 10pt;
    padding: .2em .6em;
}

.invoice-footer {
    width: 100%;
    z-index: 999999;
    background-color: #cccbcb8c;
    border-color: #e7e7e7;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 1em;
    text-align: center;
}
.btn-green {
    color: #fff;
    background-color: #008000;
    border-color: #228B22;
}
.btn-green:hover {
    color: #F8F8FF;
}
.btn-red {
    color: #fff;
    background-color: #FF0000;
    border-color: #CD853F;
}

.po-sub-total-bg {
    background-color: #cfe2f3;
}

.po-total-bg {
    background-color: #6fa8dc;
}
#customer-address {
    resize: none;
}
.doctor-info {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

/** PO or ROP background color for bottom part of table. **/
.light-green {
    background-color: #fff;
}
table.sale-table td {
    padding-bottom: 10px;
    padding-right: 10px;
}
.jp-max-character {
    width: 156px;
}
.sale-label {
    margin-top: 2px;
}
.btn-update-customer-info {
    font-size: 0.75rem;
}
.table-xrate>tbody>tr>td,
.table-xrate>tbody>tr>th,
.table-xrate>tfoot>tr>td,
.table-xrate>tfoot>tr>th,
.table-xrate>thead>tr>td,
.table-xrate>thead>tr>th {
    border-top: none;
}
.uncompleted-payment {
    background-color: #f0f0f0;
    padding: 6px 10px;
    border: 1px solid #ccc;
}
div.pay-status {
    width: 35px;
    height: 35px;
    border-radius: 50px;
    color: white;
    background-color: orange;
    border: 1px solid #f0f0f0;
    text-align: center;
    font-weight: bold;
    vertical-align: middle;
    line-height: 32px;
}

.dd > .dd-empty {
    display: none;
}

.dd > .dd-list .dd-item > .dd-handle {
    padding: 7px 10px;
    height: auto;
}

.dd-item .mn-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: red;
    font-size: 1.8rem;
    color: red;
}
