.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.form-inline .input {
    display: inline-block;
}

.modal .form-control {
    padding: 6px 5px;
}

.vertical-alignment {
    display:table;
    height: 100%;
    width: 100%;
}

.vertical-align {
    display: table-cell;
    vertical-align: middle;
}

.modal-content {    
    width:inherit;
    height:inherit;
    margin: 0 auto;
    border-radius: 10px !important;
}

#loginbox{
    position: relative;
    top: 50%;
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
    -moz-transform: translateY(50%);
    -o-transform: translateY(50%);
}

.dl-horizontal dt,.dl-horizontal dd{
    line-height: 34px;
}

.popover-title{
    border-radius: 10px 10px 0 0 !important;
}

.popover{
    border-radius: 10px !important;
}

#view-modal .modal-body{
    display: table;
    min-height: 293px;
    width: 100%;
}

#view-modal .view{
    min-height: 260px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}

.upload-title{
    padding: 10px;
    border-bottom: dashed #000 2px;
}

.upload-file {
    padding:15px 20px;
    display: inline-block;
    font-size: 28px;
    border-radius: 10px;
    border: solid 1px;
    line-height: 1;
    margin: 0 auto;
}

.upload-file, .upload-file span {
    cursor: pointer !important;
}

.dropzone.dz-clickable {
    cursor: default !important;
}

.dz-size, .dz-image, .dz-progress, .dz-success-mark, .dz-error-mark{
    display: none !important;
}

.dropzone .dz-preview .dz-details {
    padding: 10px !important;
}

.dropzone .dz-preview {
    min-height: auto !important;
    margin: 0 !important;
}

.dropzone .dz-preview .dz-details {
    width: auto !important;
    font-size: 14px !important;
    padding: 0 !important;
    line-height: 1 !important;
    position: relative !important;
}

.dropzone .dz-preview .dz-details .dz-filename {
    padding: 10px !important;
    border: 1px solid #333 !important;
    border-radius: 5px !important;
}

.dropzone .dz-preview .dz-details .dz-filename:hover span {
    border: 0px !important;
    background-color: transparent !important;
}

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
    border: 0px !important;
}

.previewTemplate {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.previewTemplate a {
    color: red;
    text-decoration: none;
    font-size: 20px;
    position: absolute;
    margin-left: -10px;
    top: 50%;
    z-index: 1001;
    background: #fff;
    line-height: 1;
    -moz-transform: translateY(-45%);
    -webkit-transform: translateY(-45%);
    -o-transform: translateY(-45%);  
    -ms-transform: translateY(-45%); 
    transform: translateY(-45%);
}

.dropzone .dz-preview .dz-error-message {
    top: auto !important;
}

.bottom-class {
    position: absolute;
    bottom: 20px;
    display: inline-block;
    left: 0;
    right: 0;
}

#product-csv, #sale-csv {
    position: relative;
}
.submit-csv {
    padding: 10px;
}

.popover.left {
    height: 105px;
    width: 276px;
}

.popover-content {
    position: relative;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
}

.submit-csv .loading {
    width: 20px;
    display: none;
}

.navbar-default .navbar-nav>li>.active,
.open>.dropdown-menu>li>.active,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #555 !important;
    background-color: #e7e7e7 !important;
}
.table-noborder th, .table-noborder tr, .table-noborder td {
    border: none !important;
    margin-bottom: none;
}
/* require indicator asterisk with red color */
.required-indicator {
    color: #ff0000;
}
.top-space {
    margin-bottom: 30px;
}
.wrapper-term {
    border-radius: 15px;
    background: #f0f0f0;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid #a9a9a9;
}
.wrapper-info {
    padding: 15px;
    overflow: auto;
    height: 250px;
}
#accountInfo {
    padding: 15px;
}
.table-width th, .table-width td {
    min-width: 100px;
}
.table-width td span{
    display: block;
}
.table-width .width-250{
    min-width: 250px;
}
.table-width .width-200{
    min-width: 200px;
}
.help-tips {
    display: none;
    font-size: 14px;
}
.error-tips {
    display: block;
    color: rgb(255, 0, 0);
    padding: 0;
    margin: 0;
}
label.error-message,
.message {
    color: #c7254e;
    font-size: 12px;
    margin: 5px 0;
}
.step-notification {
    margin-bottom: 25px;
    position: relative;
    padding-top: 15px;
}
.step-notification .l-line{
    width: 70%;
    border: 1px solid #ccc;
    margin: auto;
    top: 60%;
    position: absolute;
    left: 90px;
    z-index: 0;
}
.step-notification .l-node{
    padding: 30px;
    background-color: #ccc;
    color: #333;
    display: inline-block;
    padding: 15px 25px;
    border-radius: 6px;
}
.step-notification .active{
    background-color: #337ab7;
    color: #fff;
}
#logo img{
    width: 110px;
}

.data-tb-list table tr:hover {
    cursor: pointer;
}

.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}

.tt-suggestion {
    padding: 3px 20px;
}

.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}

#tb-detail>tbody>tr>td,
#tb-detail>tbody>tr>th,
#tb-detail>tfoot>tr>td,
#tb-detail>tfoot>tr>th,
#tb-detail>thead>tr>td,
#tb-detail>thead>tr>th {
    border-top: none;
}

.data-tb-list td>.btn_rc_ed,
.data-tb-list td>.btn_su_de {
    width: 70px;
}

/*ERROR MESSAGE*/
.error-message-wrap {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.error-message-wrap li {
    line-height: 21px
}
/*END*/

/*MODAL RESET PASSWORD*/
#reset-password .modal-body form .form-group:last-child {
    margin-bottom: 0;
}
/*END*/

/*MODAL MESSAGE*/
.modal-message table {
    margin-top: 20px;
}

.modal-message table tbody td .btn-suspend {
    margin-left: 3px;
}
/*END*/

/*COMMENTS*/
.cmd-title {
    margin-bottom: 10px;
}

.img-preview {
    width: 200px;
    height: 200px;
    border: 1px solid #dadada;
    margin-top: 16px;
    border-radius: 4px;
}

.img-preview > img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    padding: 4px;
    border-radius: 4px;
}
/*END*/

/*CUSTOMER*/
.facility-wrap .form-group {
    margin-bottom: 0px;
}

.facility-wrap .panel-body > div:first-child {
    margin-bottom: 15px;
}

.panel-wrap {
    margin-right: 15px;
    padding-right: 0px;
}

.form-group-34 {
    height: 34px;
}
/*END*/

/* CURSOR STYLE ON TABLE ROW */
.normal-cursor > tr:hover {
    cursor: auto !important;
}

.hand-cursor > tr:hover {
    cursor: pointer !important;
}

/* Pricing Table List */

.pricing-tb-list > tbody tr .form-group {
    padding: 0 15px;
    margin-bottom: 0px;
}