/*
html reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/** print **/
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F9F9F9;
    font: 11pt "meiryo";
}
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 210mm;
    min-height: 297mm;
    padding: 20mm;
    margin: 4mm auto;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.page-content {
/*    padding: 1cm;*/
    height: 257mm;
/*    outline: 2cm #FFEAEA solid;*/
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;        
    }
    .page {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.container:before,
.container:after,
.row:before,
.row:after {
  display: table;
  content: " ";
}
.container:after,
.row:after {
    clear: both;
}
.col {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
}
.col.col-6 {
    width: 50%;
}
h1,h2,h3,h4,h5 {
    font-weight: 500;
}
h1 {
    font-size: 20pt;
    padding-top: 8px;
    padding-bottom: 8px;
}
h2 {
    font-size: 18pt;
    padding-top: 6px;
    padding-bottom: 6px;
}
h3 {
    font-size: 15pt;
    padding-top: 5px;
    padding-bottom: 5px;
}
p, div, table tr td {
    font-size: 10pt;
    font-weight: normal;
}
.small {
    font-size: 8.5pt;
    font-weight: normal;
}
.smaller {
    font-size: 7.5pt;
    font-weight: normal;
}
.spacer {
    margin-top: 15px;
    margin-bottom: 15px;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
table.table {
    width: 100%;
}
table.table-address {
    width: 70%;
    margin-right: 0px;
    margin-left: auto;
}
table.table-address td {
    vertical-align:middle;
}
.underline {
    text-decoration: underline;
}
.logo {
    width: 90px;
}
ol {
    list-style-type:decimal;
}
.table-address td.cell-logo {
    vertical-align: top;
    text-align: right;
}
.thx-content {
    margin-left: 20px;
}
table.table-data {
    width: 100%;
}
table.table-data th, table.table-data td {
    border: 1px solid #000;
    padding: 3px 5px;
}
table.table-data th {
    vertical-align: middle;
    text-align: center;
    font-weight: bold;
    padding: 4px;
}
table.table-data td.text-center {
    vertical-align: middle;
    text-align: center;
}
table.table-data td.text-right {
    vertical-align: middle;
    text-align: right;
}
table.table-data td.total {
    padding: 8px 5px;
}
table.table-data td.total-bold {
    font-weight: bolder;
}
table.table-data td.product-indent {
    padding-left: 15px;
}
.addr {
    margin-left: 10px;
}
.addr-wrap {
    margin-left: 20px;
}
table.bank-info tr td:first-child {
    padding-right: 30px;
}
table.date-info tr td.colon {
    padding-right: 15px;
    padding-left: 15px;
}
table.recipient {
    width: 75%;
    float: right;
    margin-bottom: 20px;
    font-size: 8pt;
}
table.recipient td:first-child {
    text-align: right;
    padding-right: 15px;
}
table.recipient td.border-btm {
    border-bottom: 1px solid #000;
}
table.recipient td.middle-center {
    text-align: center;
    vertical-align: middle;
}
table.recipient-product tr th,
table.recipient-product tr td {
    border: 1px solid #000;
}
span.circle {
    border: 1px solid #333;
    padding: 1px;
    margin: 5px;
    border-radius: 30px;
}
table.recipient-product tr th, 
table.recipient-product tr td {
    padding: 3px 5px;
}
table.recipient-product th,
table.recipient-product td.middle-center {
    text-align: center;
    vertical-align: middle;
}
table.recipient-date {
    margin: 0 auto;
    width: 60%;
}
table.recipient-date tr td:nth-child(2) {
    padding-left: 10px;
    padding-right: 10px;
}