
<main class="main-privacy">
    <h1 class="privacy-polocy-title text-center"><?php echo __('PRIVACY_TITLE'); ?></h1>
    <section class="polocy-content">
        <p><?php echo __('PRIVACY_DESCRIPTION'); ?></p>
    </section>
    <section class="polocy-content">
        <h2>第1条（プライバシー情報）</h2>
        <p>プライバシー情報は、個人情報保護法に準拠します。</p>
    </section>
    <section class="polocy-content">
        <h2>1. 個人情報</h2>
        <p>生存する個人に関する情報で、当該情報に含まれる氏名、生年月日、住所、電話番号、連絡先その他の記述等により特定の個人を識別出来る情報を指します。</p>
    </section>
    <section class="polocy-content">
        <h2>2.履歴情報及び特性情報</h2>
        <p>前項に定める個人情報以外のもので、利用サービス、購入商品、閲覧ページ、広告履歴、検索履歴、利用日時、利用方法、利用環境、郵便番号、性別、職業、年齢、IPアドレス、クッキー情報、位置情報、端末の個体識別情報等を指します。</p>
    </section>
    <section class="polocy-content">
        <h2>第2条（プライバシー情報の収集）</h2>
        <p>当社は、ユーザが利用登録をする際に個人情報に加え銀行口座番号、クレジットカード番号、運転免許証番号、医師免許等の個人情報の登録要求、収集をすることがあります。また、ユーザと第三者との間でなされた個人情報、履歴情報及び特性情報を収集することがあります。</p>
    </section>
    <section class="polocy-content">
        <h2>第3条（個人情報を収集・利用する目的）</h2>
        <p>当社は、以下の各号に定める目的で個人情報を収集及び利用します。</p>
        <p>（1）ユーザの本人確認のために、第1条に定める情報及びそれに類する情報を利用する目的</p>
        <p>（2）ユーザが、本システムを利用する目的</p>
        <p>（3）ユーザにお知らせや連絡、商品を送付する等の目的</p>
        <p>（4）ユーザに代金を請求する目的</p>
        <p>（5）当社が本ウェブサイト及び本システムを運営及び業務を遂行する目的で、配送業者等第三者への情報提供を含む</p>
        <p>（6）上記の利用目的に付随する目的</p>
    </section>
    <section class="polocy-content">
        <h2>第4条（個人情報の第三者提供）<br>1. 個人情報の第三者提供</h2>
        <p>当社は、次の各号を除いて、予めユーザの同意なく、第三者に個人情報を提供しません。ただし、個人情報保護法その他の法令で認められる場合を除きます。</p>
        <p>（1）法令、裁判所又は条例など法的強制力に基づく場合</p>
        <p>（2）人の生命、身体又は財産の保護のために必要で、本人の同意を得ることが困難である場合</p>
        <p>（3）公衆衛生の向上又は児童の健全な育成の推進のために必要で、本人の同意を得ることが困難である場合</p>
        <p>（4）国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務の遂行に協力が必要で、本人の同意を得ることにより当該事務の遂行に支障を及ぼす畏れがある場合</p>
    </section>
    <section class="polocy-content">
        <h2>2. 第三者の除外</h2>
        <p>前項の定めにかかわらず、次に掲げる場合は第三者には該当ません。</p>
        <p>（1）当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託する場合</p>
        <p>（2）合併その他の事由による事業の承継に伴って個人情報が提供される場合</p>
    </section>
    <section class="polocy-content">
        <h2>第5条（個人情報の開示）</h2>
        <p>当社は、本人から個人情報の開示を求められた時、以下の各号の場合を除き、本人に対し、遅滞なく開示します。</p>
        <p>（1）本人又は第三者の生命、身体、財産その他の権利利益を害する畏れがある場合</p>
        <p>（2）当社の業務の適正な遂行に著しい支障を及ぼす畏れがある場合</p>
        <p>（3）その他法令、裁判所又は条例などに違反することとなる場合</p>
    </section>
    <section class="polocy-content">
        <h2>第6条（個人情報の訂正及び削除）</h2>
        <p>ユーザは、当社の保有する個人情報が誤った情報である場合、当社が定める手続きにより、個人情報の訂正又は削除を請求することが出来ます。当社は、ユーザからの請求に応じる必要があると判断した場合には、遅滞なく当該個人情報の訂正又は削除を行い、ユーザに通知します。</p>
    </section>
    <section class="polocy-content">
        <h2>第7条（個人情報の利用停止等）</h2>
        <p>当社は、ユーザ本人から、個人情報の利用の停止又は消去を求められた場合には、個人情報の停止又は消去を行い、その旨本人に通知します。ただし、個人情報の停止又は消去に多額の費用を必要としたりその実施が困難な場合であって、本人の権利利益を保護するために必要な代替策がある場合は、この代替策を講じます。</p>
    </section>
    <section class="polocy-content">
        <h2>第8条（プライバシーポリシーの変更）</h2>
        <p>本ポリシーの内容は、ユーザに通知することなく、変更することがあります。変更後の本ポリシーは、本ウェブサイトに掲載したから効力を生じます。</p>
    </section>
    <section class="polocy-content">
        <h2>第9条（お問い合わせ窓口）</h2>
        <p>住所：東京都中央区日本橋茅場町1-4-6</p>
        <p>社名：株式会社ウィステリア</p>
        <p>担当部署：カスタマーサポート</p>
        <p>Eメールアドレス：<?php echo $this->Html->link('info@wwisteria.co.jp', 'mailto:info@wwisteria.co.jp', ['target' => '_blank']); ?></p>
    </section>
</main>
