

<main class="main-privacy">
    <h1 class="privacy-polocy-title text-center">利用規約</h1>
    <section class="polocy-content">
        <p>この利用規約（以下、「本規約」と言います。）は、株式会社ウィステリア（以下、「当社」と言います。）が本ウェブサイト上で提供するウィステリアセールスレポートシステム（以下、「本システム」と言います。）の利用条件を定めます。</p>
    </section>
    <section class="polocy-content">
        <h2>第1条（適用）</h2>
        <p>本規約は、ユーザと当社との間の本システムの利用に関わる一切の関係に適用されます。</p>
    </section>
    <section class="polocy-content">
        <h2>第2条（利用登録）</h2>
        <p>ユーザは、当社の定める方法によって利用登録を申請し、当社がこれを承認することによって、利用登録が完了します。 当社は、利用登録の申請を承認しないことがあり、その理由については一切の開示義務を負いません。</p>
        <p>（1）虚偽の事項を届け出た場合</p>
        <p>（2）本規約に違反したことがある者からの申請である場合</p>
        <p>（3）その他、当社が利用登録を相当でないと判断した場合</p>
    </section>
    <section class="polocy-content">
        <h2>第3条（ユーザID及びパスワードの管理）</h2>
        <p>ユーザは、自己の責任において、本システムのユーザID及びパスワードを管理します。ユーザは、いかなる場合でも、ユーザID及びパスワードを第三者に譲渡又は貸与することは出来ません。当社は、ユーザIDとパスワードの組み合わせが登録情報と一致してログインされた場合、ユーザ本人による利用とみなします。</p>
    </section>
    <section class="polocy-content">
        <h2>第4条（利用料金及び支払方法）</h2>
        <p>ユーザは、本システム利用の対価として、当社が別途定め本ウェブサイトに表示する利用料金を当社が指定する方法により支払います。ユーザが利用料金の支払を遅滞した場合には、年1４．６％の割合による遅延損害金を支払います。</p>
    </section>
    <section class="polocy-content">
        <h2>第5条（禁止事項）</h2>
        <p>ユーザは、本システムの利用にあたり、以下の行為をしてはなりません。</p>
        <p>（1）法令又は公序良俗に違反する行為</p>
        <p>（2）犯罪行為に関連する行為</p>
        <p>（3）当社のシステム及び機器を破壊したり、妨害したりする行為</p>
        <p>（4）当社のサービスの運営を妨害する畏れのある行為</p>
        <p>（5）本ウェブサイトのデータ、情報等を収集又は蓄積、第三者に提供する行為</p>
        <p>（6）他のユーザに成りすます行為</p>
        <p>（7）反社会的勢力に直接又は間接な利益供与に関連する行為</p>
        <p>（8）その他、当社が不適切と判断する行為</p>
    </section>
    <section class="polocy-content">
        <h2>第6条（本システムの提供の停止等）</h2>
        <p>当社は、以下のいずれかの場合、事前の通知なく本システムの全部又は一部の提供を停止又は中断し、ユーザ又は第三者が被ったいかなる不利益又は損害について、理由を問わず一切の責任を負いません。</p>
        <p>（1）本システムのシステム及び機器の保守点検又は更新を行う場合</p>
        <p>（2）地震、落雷、火災、停電又は天災などの不可抗力により、本システムの提供が困難となった場合</p>
        <p>（3）コンピュータ又は通信回線等が停止した場合</p>
        <p>（4）その他、当社が本システムの提供が困難と判断した場合</p>
    </section>
    <section class="polocy-content">
        <h2>第7条（利用制限及び登録抹消）</h2>
        <p>当社は、以下のいずれかの場合、事前の通知なくユーザの本システムの全部もしくは一部の利用を制限し、又はユーザとしての登録を抹消し、ユーザ又は第三者が被ったいかなる不利益又は損害について、理由を問わず一切の責任を負いません。</p>
        <p>（1）本規約のいずれかの条項に違反した場合</p>
        <p>（2）登録事項に虚偽の事実があることが判明した場合</p>
        <p>（3）当社が本システムの利用を適当でないと判断した場合</p>
    </section>
    <section class="polocy-content">
        <h2>第8条（免責事項）</h2>
        <p>1. 当社の債務不履行責任は、当社の故意又は重過失によらない場合には免責されます。</p>
        <p>2. 何らかの理由によって責任を負う場合にも、これまでユーザから受領した代金額の範囲内においてのみ賠償の責任を負います。</p>
        <p>3. 当社は、ユーザと他のユーザ又は第三者との間で生じる一切につき責任を負いません。</p>
    </section>
    <section class="polocy-content">
        <h2>第9条（サービス内容の変更等）</h2>
        <p>当社は、ユーザに通知することなく、本システムの内容を変更し又は本システムの提供を中止することがあり、これによってユーザに生じる損害について一切の責任を負いません。</p>
    </section>
    <section class="polocy-content">
        <h2>第10条（利用規約の変更）</h2>
        <p>本規約の内容は、ユーザに通知することなく、変更することがあります。変更後の本規約は、本ウェブサイトに掲載した時から効力を生じます。</p>
    </section>
    <section class="polocy-content">
        <h2>第11条（通知又は連絡）</h2>
        <p>ユーザと当社との間の通知又は連絡は、当社の定める方法によって行います。</p>
    </section>
    <section class="polocy-content">
        <h2>第12条（権利義務の譲渡の禁止）</h2>
        <p>ユーザは、当社の書面による事前の承諾なく、利用契約上の地位又は本規約に基づく権利もしくは義務を第三者に譲渡し、又は担保に供することは出来ません。</p>
    </section>
    <section class="polocy-content">
        <h2>第13条（準拠法・裁判管轄）</h2>
        <p>1. 本規約の解釈にあたっては、日本法を準拠法とします。</p>
        <p>2. 本システムに関して紛争が生じた場合、当社の本店所在地を管轄する裁判所を専属的合意管轄とします。</p>
    </section>
</main>