<option value=""><?php echo __d('pricing', 'TXT_SELECT_SELLER'); ?></option>
<?php
foreach ($data as $key => $value) : ?>
<option value="<?php echo $key; ?>"><?php  echo $value; ?></option>
<?php
endforeach;
