<div class="modal fade" id="modal_comment" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div id="message-receive"></div>
            </div>
        </div>
    </div>
</div>